<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Kider - Preschool Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/media/img/favicon.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@600&family=Lobster+Two:wght@700&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/static/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar Start -->
        {% include 'header.html' %}
        <!-- Navbar End -->


        <!-- Page Header End -->
        <div class="container-xxl py-5 page-header position-relative mb-5">
            <div class="container py-5">
                <h1 class="display-2 text-white animated slideInDown mb-4">Interaktiv o’yinlar</h1>
                <nav aria-label="breadcrumb animated slideInDown">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Bosh sahifa</a></li>
                        <li class="breadcrumb-item"><a href="#">Bosh sahifa</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">O’yinlar</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Page Header End -->

            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3">Interaktiv o’yinlar dunyosi</h1>
               
           
                <!-- ???? -->
                <!-- <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p> -->
            </div>
           


            <div class="games">

                <div class="game">
                    <div class="snakeGames">
                        <div class="snakeBlock">
                            <img src="/media/img/games/милая змейка.jpeg" style="width: 100px; height: 100px; border-radius: 15px;">
                            <div>
                                <h6>Yoqilmli iloncha</h6>
                                <p>Oyinchilar soni</br>1 063 000+</p>       
                            </div>
                        </div>
                        <a href="https://yandex.com/games/app/153846#app-id=153846&catalog-session-uid=catalog-9e87a438-8c42-5768-afda-6459a81940af-1653508710201-b811&rtx-reqid=485181078392103931&pos=%7B%22listType%22%3A%22suggested%22%2C%22tabCategory%22%3A%22kids%22%7D"><button class="goGame">O'ynash</button></a>
                    </div>
                    <a href="https://yandex.ru/games/?utm_medium=search&utm_source=yandex&utm_campaign=kub_games_brand_yandex_search_460.new%7C59208904&utm_content=k50id%7C0100000026529429467_%7Ccid%7C59208904%7Cgid%7C4460554349%7Caid%7C10267309982%7Cadp%7Cno%7Cpos%7Cpremium1%7Csrc%7Csearch_none%7Cdvc%7Cdesktop%7Cmain&k50id=0100000026529429467_&utm_term=games%20yandex&yadclid=90356927&yadordid=159208904&yclid=12081165375219957759&app=153846"><button class="aboutGame">Oyin haqida toliqroq ma'lumot</button></a></br>
                </div>

                <div class="game">
                    <div class="snakeGames">
                        <div class="snakeBlock">
                            <img src="/media/img/games/sandbox.jpeg" style="width: 100px; height: 100px; border-radius: 15px;">
                            <div>
                                <h6>Qumga rang berish</h6>
                                <p>Oyinchilar soni</br>893 000+</p>       
                            </div>
                        </div>
                        <a href="https://yandex.ru/games/app/166132?utm_medium=search&utm_source=yandex&utm_campaign=kub_games_brand_yandex_search_460.new%7C59208904&utm_term=games%20yandex#app-id=166132&catalog-session-uid=catalog-d731a6f7-e1a2-55c2-915d-a0693580a91a-1654583217881-7c9e&rtx-reqid=2482324308080899811&pos=%7B%22listType%22%3A%22played%22%2C%22tabCategory%22%3A%22common%22%7D"><button class="goGame">O'ynash</button></a>
                    </div>
                    <a href="https://yandex.ru/games/?utm_medium=search&utm_source=yandex&utm_campaign=kub_games_brand_yandex_search_460.new%7C59208904&utm_content=k50id%7C0100000026529429467_%7Ccid%7C59208904%7Cgid%7C4460554349%7Caid%7C10267309982%7Cadp%7Cno%7Cpos%7Cpremium1%7Csrc%7Csearch_none%7Cdvc%7Cdesktop%7Cmain&k50id=0100000026529429467_&utm_term=games%20yandex&yadclid=90356927&yadordid=159208904&yclid=12081165375219957759&app=166132"><button class="aboutGame">Oyin haqida toliqroq ma'lumot</button></a></br>
                </div>
                <div class="game">
                    <div class="snakeGames">
                        <div class="snakeBlock">
                            <img src="/media/img/games/flagGames.jpeg" style="width: 100px; height: 100px; border-radius: 15px;">
                            <div>
                                <h6>Bayroqni top</h6>
                                <p>Oyinchilar soni</br>13 000+</p>       
                            </div>
                        </div>
                        <a href="https://yandex.ru/games/app/178485?utm_medium=search&utm_source=yandex&utm_campaign=kub_games_brand_yandex_search_460.new%7C59208904&utm_term=games%20yandex#app-id=178485&catalog-session-uid=catalog-d731a6f7-e1a2-55c2-915d-a0693580a91a-1654588017966-ac7d&rtx-reqid=15225082781182223008&pos=%7B%22listType%22%3A%22played%22%2C%22tabCategory%22%3A%22educational%22%7D"><button class="goGame">O'ynash</button></a>
                    </div>
                    <a href="https://yandex.ru/games/category/educational?utm_medium=search&utm_source=yandex&utm_campaign=kub_games_brand_yandex_search_460.new%7C59208904&utm_content=k50id%7C0100000026529429467_%7Ccid%7C59208904%7Cgid%7C4460554349%7Caid%7C10267309982%7Cadp%7Cno%7Cpos%7Cpremium1%7Csrc%7Csearch_none%7Cdvc%7Cdesktop%7Cmain&k50id=0100000026529429467_&utm_term=games%20yandex&yadclid=90356927&yadordid=159208904&yclid=12081165375219957759&app=178485"><button class="aboutGame">Oyin haqida toliqroq ma'lumot</button></a></br>
                </div>

                <div class="game">
                    <div class="snakeGames">
                        <div class="snakeBlock">
                            <img src="/media/img/games/bubbleShooter.jpeg" style="width: 100px; height: 100px; border-radius: 15px;">
                            <div>
                                <h6>Pufak otish</h6>
                                <p>Oyinchilar soni</br>108 000+</p>       
                            </div>
                        </div>
                        <a href="https://yandex.ru/games/app/182920#app-id=182920&catalog-session-uid=catalog-d731a6f7-e1a2-55c2-915d-a0693580a91a-1654588544182-3a7c&rtx-reqid=174453066563882569"><button class="goGame">O'ynash</button></a>
                    </div>
                    <a href="https://yandex.ru/games/category/editors_choice?app=182920"><button class="aboutGame">Oyin haqida toliqroq ma'lumot</button></a></br>
                </div>

                <div class="game">
                    <div class="snakeGames">
                        <div class="snakeBlock">
                            <img src="/media/img/games/mathGame.jpeg" style="width: 100px; height: 100px; border-radius: 15px;">
                            <div>
                                <h6>Matematik viktorina</h6>
                                <p>Oyinchilar soni</br>12 000+</p>       
                            </div>
                        </div>
                        <a href="https://yandex.ru/games/app/179602#app-id=179602&catalog-session-uid=catalog-d731a6f7-e1a2-55c2-915d-a0693580a91a-1654589278614-56d0&rtx-reqid=15479563105954509442"><button class="goGame">O'ynash</button></a>
                    </div>
                    <a href="https://yandex.ru/games/category/educational?app=179602"><button class="aboutGame">Oyin haqida toliqroq ma'lumot</button></a></br>
                </div>

                <div class="game">
                    <div class="snakeGames">
                        <div class="snakeBlock">
                            <img src="/media/img/games/BlockGames.jpeg" style="width: 100px; height: 100px; border-radius: 15px;">
                            <div>
                                <h6>Tetris</h6>
                                <p>Oyinchilar soni</br>884 000+</p>       
                            </div>
                        </div>
                        <a href="https://yandex.ru/games/app/96458#app-id=96458&catalog-session-uid=catalog-d731a6f7-e1a2-55c2-915d-a0693580a91a-1654589468226-1232&rtx-reqid=13052415760961179758&pos=%7B%22listType%22%3A%22played%22%2C%22tabCategory%22%3A%22educational%22%7D"><button class="goGame">O'ynash</button></a>
                    </div>
                    <a href="https://yandex.ru/games/category/educational?app=96458"><button class="aboutGame">Oyin haqida toliqroq ma'lumot</button></a></br>
                </div>

                <div class="game">
                    <div class="snakeGames">
                        <div class="snakeBlock">
                            <img src="https://avatars.mds.yandex.net/get-games/1890793/2a0000017a1aa9de9366b65f4232972ef80c/pjpg268x268" style="width: 100px; height: 100px; border-radius: 15px;">
                            <div>
                                <h6>Draw The Bridge</h6>
                                <p>Oyinchilar soni</br>1 683 000+</p>       
                            </div>
                        </div>
                        <a href="https://yandex.ru/games/app/168468#app-id=168468&catalog-session-uid=catalog-d731a6f7-e1a2-55c2-915d-a0693580a91a-1655716469140-4590&rtx-reqid=10883846845223764092"><button class="goGame">O'ynash</button></a>
                    </div>
                    <a href="https://yandex.ru/games/?app=168468"><button class="aboutGame">Oyin haqida toliqroq ma'lumot</button></a></br>
                </div>

                <div class="game">
                    <div class="snakeGames">
                        <div class="snakeBlock">
                            <img src="https://avatars.mds.yandex.net/get-games/1890793/2a00000171b698bc378fb4f0cceb86d8705b/pjpg268x268" style="width: 100px; height: 100px; border-radius: 15px;">
                            <div>
                                <h6>Farqni toping</h6>
                                <p>Oyinchilar soni</br>108 000+</p>       
                            </div>
                        </div>
                        <a href="https://yandex.ru/games/app/100009#app-id=100009&catalog-session-uid=catalog-d731a6f7-e1a2-55c2-915d-a0693580a91a-1655717242370-b969&rtx-reqid=10883846845223764092"><button class="goGame">O'ynash</button></a>
                    </div>
                    <a href="https://yandex.ru/games/search?query=%D0%BD%D0%B0%D0%B9%D0%B4%D0%B8&app=100009"><button class="aboutGame">Oyin haqida toliqroq ma'lumot</button></a></br>
                </div>
                
                <div class="game">
                    <div class="snakeGames">
                        <div class="snakeBlock">
                            <img src="https://avatars.mds.yandex.net/get-games/1881957/2a0000016b9a149e07ff15a6541521e24f93/pjpg268x268" style="width: 100px; height: 100px; border-radius: 15px;">
                            <div>
                                <h6>Cut the rope</h6>
                                <p>Oyinchilar soni</br>2 711 000+ </p>       
                            </div>
                        </div>
                        <a href="https://yandex.ru/games/app/97514?utm_source=game_header_logo#app-id=97514&catalog-session-uid=catalog-d731a6f7-e1a2-55c2-915d-a0693580a91a-1655717496221-38b6&rtx-reqid=7728696139953186055"><button class="goGame">O'ynash</button></a>
                    </div>
                    <a href="https://yandex.ru/games/?utm_source=game_header_logo&app=97514"><button class="aboutGame">Oyin haqida toliqroq ma'lumot</button></a></br>
                </div>

                <div class="game">
                    <div class="snakeGames">
                        <div class="snakeBlock">
                            <img src="https://avatars.mds.yandex.net/get-games/1881371/2a000001725093abd0bd30ecd51211c3018d/pjpg268x268" style="width: 100px; height: 100px; border-radius: 15px;">
                            <div>
                                <h6>So'z o'yini</h6>
                                <p>Oyinchilar soni</br>4 274 000+ </p>       
                            </div>
                        </div>
                        <a href="https://yandex.ru/games/app/98073#app-id=98073&catalog-session-uid=catalog-d731a6f7-e1a2-55c2-915d-a0693580a91a-1655717923796-556a&rtx-reqid=10883846845223764092"><button class="goGame">O'ynash</button></a>
                    </div>
                    <a href="https://yandex.ru/games/category/educational?app=98073"><button class="aboutGame">Oyin haqida toliqroq ma'lumot</button></a></br>
                </div>

            </div>

            <div class="backHome">
                <a class="btn btn-primary rounded-pill py-3 px-5" href="./index.html" style="margin-top: 30px">Bosh sahifaga qaytish</a>
            </div>



    


              <!-- Footer Start -->
              <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
                <div class="container py-5">
                    <div class="row g-5">
                        <div class="col-lg-3 col-md-6">
                            <h3 class="text-white mb-4">Aloqa qiling</h3>
    
                            <div class="address">
                                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i><p>Mirzo Ulug'bek tumani Yahyo G'ulomov 47-uy</p>
                                </p>
                            </div>
    
                            <div class="numbers">
                                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i><p>+998 71 233 17 91</br>
                                +998 71 236 22 01</p>
                                </p>
                            </div>
                            
                            <p class="mb-2"><i class="fa fa-envelope me-3"></i>f.urunov@exat.uz</p>
                            <div class="d-flex pt-2">
                                <a class="btn btn-outline-light btn-social" href="https://t.me/XTV_respublika_bolalar_kutubxona"><i class="fab fa-telegram"></i></i></a>
                                <a class="btn btn-outline-light btn-social" href="https://www.facebook.com/respublika.bolalar.kutubxonasi"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-light btn-social" href="https://www.youtube.com/channel/UCXFWBb5-i-giV9Vst5QRfCg
                                "><i class="fab fa-youtube"></i></a>
                                <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/respublika_bolalar_kutubxona/"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <h3 class="text-white mb-4">Tez havolalar</h3>
                            <a class="btn btn-link text-white-50" href="./index.html">Biz hamizda</a>
                            <a class="btn btn-link text-white-50" href="./contact.html">Biz bilan bog'lanish</a>
                            <a class="btn btn-link text-white-50" href="./about.html">Bizning hizmatlarimiz</a>
                            <a class="btn btn-link text-white-50" href="">Maxfiylik siyosati</a>
                            <a class="btn btn-link text-white-50" href="">Shartlar va shartlar</a>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <h3 class="text-white mb-4">Fotogalereya</h3>
                            <div class="row g-2 pt-2">
                                <div class="col-4">
                                    <img class="img-fluid rounded bg-light p-1 footerimg75px" src="/media/img/classes-1.jpg" alt="">
                                </div>
                                <div class="col-4">
                                    <img class="img-fluid rounded bg-light p-1 footerimg75px" src="/media/img/classes-2.jpg" alt="">
                                </div>
                                <div class="col-4">
                                    <img class="img-fluid rounded bg-light p-1 footerimg75px" src="/media/img/classes-3.jpg" alt="">
                                </div>
                                <div class="col-4">
                                    <img class="img-fluid rounded bg-light p-1 footerimg75px" src="/media/img/classes-4.jpg" alt="">
                                </div>
                                <div class="col-4">
                                    <img class="img-fluid rounded bg-light p-1 footerimg75px" src="/media/img/classes-5.jpg" alt="">
                                </div>
                                <div class="col-4">
                                    <img class="img-fluid rounded bg-light p-1 footerimg75px" src="/media/img/classes-6.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <h3 class="text-white mb-4">Axborot byulleteni</h3>
                            <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                            <div class="position-relative mx-auto" style="max-width: 400px;">
                                <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text" placeholder="Sizning elektron  manzilingiz">
                                <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">Ro'yxatdan o'tish</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="copyright">
                        <div class="row">
                            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                                &copy; <a class="border-bottom" href="#">Your Site Name</a>, All Right Reserved. 
                                
                                <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                                Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
                                <br>Distributed By: <a class="border-bottom" href="https://themewagon.com" target="_blank">ThemeWagon</a>
                            </div>
                            <div class="col-md-6 text-center text-md-end">
                                <div class="footer-menu">
                                    <a href="./index.html">Bosh sahifa</a>
                                    <a href="">Cookie fayllari</a>
                                    <a href="">FQAlarga yordam beradi</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/lib/wow/wow.min.js"></script>
    <script src="/static/lib/easing/easing.min.js"></script>
    <script src="/static/lib/waypoints/waypoints.min.js"></script>
    <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/static/js/main.js"></script>
</body>

</html>