<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5 py-lg-0">
    <a href="{% url 'home' %}" class="navbar-brand">
        <h1 class="m-0 text-primary"><i class="fa fa-book-reader me-3"></i>Bolajon</h1>
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mx-auto">
            <a href="{% url 'home' %}" class="nav-item nav-link {{ home_page_header }}">Bosh sahifa</a>
            <a href="{% url 'about' %}" class="nav-item nav-link {{ about_page_header }}">Ota-onalar uchun</a>
            <a href="{% url 'classes' %}" class="nav-item nav-link {{classes_page_header}}">Yosh davrlari</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle {{ other_pages_header }}" data-bs-toggle="dropdown">Sahifalar</a>
                <div class="dropdown-menu rounded-0 rounded-bottom border-0 shadow-sm m-0">
                    <a href="{% url 'ebooks' %}" class="dropdown-item">Elektron kitoblar</a>
                    <a href="{% url 'audiobooks' %}" class="dropdown-item">Audiokitoblar</a>
                    <a href="{% url 'clips' %}" class="dropdown-item">Videoroliklar</a>
                    <a href="{% url 'skilllessons' %}" class="dropdown-item">Mahorat darslari</a>
                    <a href="{% url 'interestingphotos' %}" class="dropdown-item">Qiziqarli rasmlar</a>
                    <a href="{% url 'games' %}" class="dropdown-item">O’yinlar</a>
                </div>
            </div>
            <a href="{% url 'sites' %}" class="nav-item nav-link {{ sites_page_header }} ">Saytlar</a>
            <a href="{% url 'contact' %}" class="nav-item nav-link {{ contact_page_header }} ">Biz bilan bog’lanish</a> 
        </div>
        <a href="" class="btn btn-primary rounded-pill px-3 d-none d-lg-block">Bizga qo’shiling<i class="fa fa-arrow-right ms-3"></i></a>
    </div>
</nav>